@tailwind base;
@tailwind components;
@tailwind utilities;

.scale-in-center {
	animation: scale-in-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.scale-out-center {
	animation: scale-out-center 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes scale-in-center {
	0% {
		transform: scale(0);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes scale-out-center {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(0);
		opacity: 1;
	}
}

@layer components{
	.input{
		@apply px-3 py-2 rounded-md text-black border-indigo-600 border-2 focus:outline-none focus:border-indigo-900;
	}
}
